/*Configs Globais*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    overflow: hidden;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.current{
    color: teal;
    font-weight: bolder;
}

.teal{
    color: teal;
}

/*Header*/

header{
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    width: 100%;
    position: fixed;

}

#btn_cv{
    background-color: teal;
    color: #fff;
}

header #logo_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#logo_menu #navbar li.current a{
    color: aqua;
    font-weight: bolder;
    margin: 0 30px;
}

#logo_menu #navbar li.current a:hover{
    color: #fff;
    font-weight: bolder;
}

/*ASIDE - CARATERISTICAS*/
.imagem{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin-right: 30px;
    margin-top: 20px;
}
aside{

    display: flex;
    height: 600px;
    width: 190px;
    margin-top: 250px;
}

.carater #barra_menu{
    background-color: rgb(26, 24, 24);
    color: white; 
    transition-timing-function: ease-in-out;
    transition: 0.3s ease-in-out;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.carater i {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    color: teal;
}

#img_carater{
    height: 200px;
    width: 190px;
    border-radius: 40px;
  margin-left: 50px;
}
#barra_menu ul li{
    list-style: none;
    
}

#barra_menu ul li a{
    
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 20px;
}

#barra_menu h3{
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
#barra_menu h4{
    font-size: 15px;
}

#barra_menu p{
    font-size: 12px;
    color: teal;
}

/*........*/
.logo img{
    width: 40px;
    border-radius: 100%;
}


header #navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    
}

header #navbar a{
    color: #ffffff;
    text-decoration: none;
}

header #navbar li a:hover{
    transition: 0.2s ease-in-out;
   background: rgb(26, 24, 24);
   padding: 10px;
   font-weight: bolder;
   color: teal;
 
   transition-timing-function: ease-in-out;
}

/*DESTAQUE*/

.destaque{
   /*background: url('./img/darkk.png')  no-repeat  0 -80px;*/
  
    width: 100%;
    height:600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black;
    background: url('./img/bbb.png') no-repeat ;
}
#texto_destaque{
    float: right;
    text-align: center;
    align-items: center;
}

/*.destaque #img_destaque{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    margin-right: 60px;

}*/
.darksec{
    margin: 0;
    width: 100%;
    height: 200px;
    background-color: black;
    border-top: 1px teal solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.darksec h1{
    font-size: 2rem;
    color: #fff;
}

.darksec form #txt_email{
   
    width: 300px;
    height: 40px;
    border-radius: 20px 0 0 20px;
    color: #fff;
    
}
.darksec form #btn_enviar_email{
    height: 40px;
    background-color: black;
    width: 100px;
    border: 1px solid teal;
    border-radius: 0 20px 20px 0;
    color: #fff;
    
}
.darksec form #btn_enviar_email:hover{
background-color: teal;
color: #fff;
    
}


.destaque #img_destaque:hover{
    box-shadow: 0 10px 10px rgb(0,0, 0, 0.35);
    border: 2px solid teal;
    transform: scale(1.4);
    box-shadow: 0 5px 15px rgb(0,0,0,0.6);
    transition: ease-in-out 0.5s;
}

.destaque #btn_destaque:hover{
    color: aqua;
    font-weight: bolder;
    background: rgb(26, 24, 24);
    width: 201px;
    height: 41px;
}
#comp i{
   font-size: 30px;
}

.destaque h1{
    font-size: 2rem;
    color: #fff;
margin-left: 140px;

}

.destaque #web_txt{
    color: teal;
    font-size: 40px;

}

.destaque p{
    font-size: 4rem;
 margin-left: 140px;

    color: #ffffff;
}
#btn_destaque{
    color: teal;
    background-color: black;
    border-radius: 30px;
    border: solid 3px teal;
    width: 200px;
    margin-top: 15px;
    margin-left: 140px;
}

.destaque hr{
    width: 200px;
    height: 5px;
    background-color: #ffffff;
   
}

/*RECEBER EMAIL*/

.receber_email{
    padding: 30px;
    color: #ffffff;
    align-items: center;
    background-color: rgb(2, 54, 54);
    margin: 0;
   text-align: center;
}

.receber_email h3{
    float: left;   

}

.receber_email form{
 float: right;
}

#btn_receber{
    color: #ffffff;
    background-color: teal;
    border-radius: 30px;
    width: 200px;
   
}

 #btn_receber:hover{
    color: aqua;
    font-weight: bolder;
    background: rgb(26, 24, 24);
    width: 201px;
    height: 41px;
}
#email_receber{
    border-radius: 30px;
    width: 220px;
    height: 40px;
    margin-bottom: 10px;
}

/*TIPOS SERVICO*/

.btn_serv{
    width: 130px;
    height: 40px;
    background-color: teal;
    color: #fff;
    border: none;
    border-radius: 20px;
}

.btn_serv a{
    color: #fff;
    text-decoration: none;
}

.btn_serv:hover{
    background-color: white;
    border: 1px solid teal;
    color: teal;
    transition: ease-in-out 0.2s;
}
.img_servico{
    width: 105px;
    margin-top: 8px;
}
.tipos_servico{
   
    padding: 30px;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
height: 600px;
}
/*Hover para os efeitos de transicao*/

.servico:hover{
   
    box-shadow: 0 10px 10px rgb(0,0, 0, 0.35);
    border: 2px solid black;
    transform: scale(1);
    box-shadow: 0 5px 15px rgb(0,0,0,0.6);
  
}

.tipos_servico .servico {
    background-color: rgb(2, 54, 54);;
    margin:0 5px;
    text-align: center;
    border-radius: 20px;
    height: 320px;
    width: 270px;
   
}

.tipos_servico .servico h3 {
/*color: #f6d912;*/
color: aqua;
   margin-top: 10px;
}
#comp{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    /*margin-top: 110px;*/
   
}
#comp_email{
        display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 110px;
}

#comp_email i{
    width: 80px;
}

#comp h1{
    font-size: 25px;
}

#comp hr,#comp_email hr{
    width: 200px;
    height: 3px;
    background-color: black;
    color: black;
    text-align: center;
    border: none;
}

/*SERVICOS FEITOS*/

.servicos_feitos{
    padding: 10px 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
 
}

.servicos_feitos ul{
list-style: none;
}

.servicos_feitos .grid{
width: 100%;
display: flex;
flex-wrap: wrap;
margin-top: 20px;
}
.servicos_feitos .grid li{
    height: 350px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}



.servicos_feitos .grid li.small{
    flex-basis: 40%;
    width: 300px;
}

.servicos_feitos .grid li.small:hover{
    box-shadow: 0 10px 10px rgb(0,0, 0, 0.35);
    transform: scale(1.02);
   
}

.servicos_feitos .grid li.large{
    flex-basis: 50%;
    width: 700px;
}

.servicos_feitos .grid li.large:hover{
    box-shadow: 0 10px 10px rgb(0,0, 0, 0.35);
    transform: scale(1.02);
   
}

/* SOBRE*/

.sobre{
    height: 800px;
    display: flex;
    flex-direction: column;
  justify-content: center;
  background-size: cover;
  background: url('./img/hacker_img.jpg');
}
#img_hab{
    width: 300px;
     height: 420px;
     border-radius: 10px 0 0 10px;
}
.sobre .boxes{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;


}
.sobre #comp{
    color: #fff;
}
.sobre #comp hr{
    width: 200px;
    height: 3px;
    background-color: #fff;
    text-align: center;
    border: none;
    align-items: center;

}

.sobre #Box {
    background-color: rgb(2, 54, 54);
   
    box-shadow: 0 10px 10px rgb(0,0, 0, 0.35);
    color: #ffffff;
     border-radius: 0 10px 10px 0;
    text-align: start;
    height: 420px;
    width: 60vh;
   
}
#Box #box_text{margin-left: 60px;}
.sobre #Box #box_text h3{
    margin-top: 10px;
    font-size: 18px;
    /*color: #f6d912;*/
    color: aqua;
}

.sobre #Box #box_text p{
    font-size: 14px;
}
.sobre #box #box_text{
       text-align: center;
       align-items: center;
       
}

/*FOOTER*/

footer{
    align-items: center;
    text-align: center;
    padding: 80px;
    color: #ffffff;
    background-color: black;
    height: 600px;
}

footer #comp{
    margin-top: 2px;
}

footer #comp hr{
    width: 200px;
    height: 3px;
    background-color: aqua;
    color: black;
    text-align: center;
    border: none;
    align-items: center;

}


#footer_ajust{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

footer h3{
    font-size: 1.5rem;
}
footer h4{
    font-size: 0.8rem;
}

footer i{
    color: aqua;
    font-size: 20px;
}

 #rodap{
    color: aqua;
    text-align: center;
    background-color: black;
    padding: 20px;
    margin: 0;
}

/*MEDIA QUERIES*/

@media(max-width: 768px){
    body{
        overflow: scroll;
    }
    header #logo_menu{
      display: flex;
      flex-direction: column;
      }
      header #logo_menu #navbar{
          margin-top: 20px;
      }
  

      .destaque {
          height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-image: none;
        background-color: black;
      }

      .destaque .text_destaque{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          margin-top: 30px;
          font-size: 1rem;
      }


  
      .destaque h1{
        font-size: 20px;
        text-align: center;
      
      }

      .darksec{
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;
      }


      #comp_email{
          margin-top: 10px;
          margin-bottom: 80px;
      }

      .boxes{
          display: flex;
          flex-direction: column;
         
          width: 80%;
      }

      .receber_email{
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
      }

      .receber_email h3{
          text-align: center;
          font-size: 1.5rem;
      }

     .receber_email form #email_receber{
          width:100% ;
          margin-bottom: 20px;
      }

      .receber_email form #btn_receber{
        width: 420px;
    }

    .tipos_servico{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }
    .tipos_servico .servico{
        margin-bottom: 25px;
    }

    .servicos_feitos .grid li.large{
        flex-basis: 100%;
        width: 190px;
    }

    .servicos_feitos .grid li.small{
        flex-basis: 100%;
        width: 190px;
    }

    .sobre{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .sobre #Box{
        margin-bottom: 20px;
    }

    footer{
        display: flex;
        flex-direction: column;
    }

    #footer_ajust{
        flex-direction: column;
    }

    footer #foot{
        margin-bottom: 40px;
    }


  }


